body {
  background-color: whitesmoke;
  
}

h1 {
  text-align: center;
  font-weight: 900;
}

h2 {
  text-align: center;
}

.my-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-radius: 50%;
}

.body {
  text-align: center;
}

.my-sidebar {
  width: 50%;
  float: left;
  background-color: cornsilk;
  border: 5%;
  margin-top: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}

.code-sidebar {
  width: 50%;
  float: right;
  background-color: darkgray;
  border: 5%;
  margin-top: 30px;
  padding: 0 0 155px 10px;
  box-sizing: border-box;
}